<h1>High User</h1>
<h4>Login/Register</h4>
<div class="login">
  <!--<form onsubmit="login(this)">-->
    <input id="username" type="text" value="" placeholder="username" name = "username"><br>
    <input id="passcode" type="password" value="" placeholder="passcode" name = "password"><br>
    <input id="sumbitbutton" type="button" name="submit" onclick="login(this)" value="submit">
  <!--</form>-->
</div>
<script src = "/js/login.js"></script>
