<div class="login">
  <input id="username" type="text" value="" placeholder="username" name = "username"><br>
  <input id="passcode" type="text" value="" placeholder="passcode" name = "password"><br>
  <input id="sumbitbutton" type="button" name="submit" onclick="login(this)" value="submit">
</div>
<script src = "/js/login.js"></script>
