<div class="login">
  <input id="username" type="text" value="" placeholder="username" name = "username"><br>
  <input id = "language" type = "text" value = "" placeholder="english, hinglish"><br>
  <input id="passcode" type="text" value="" placeholder="passcode" name = "password"><br>
  <input id="sumbitbutton" type="button" name="submit" onclick="login(this)">
</div>
<script src = "/js/dependencies/login.js"></script>
